<div class="login-page-container">
  <div class="login-container">
    <h1 class="login-h1">Log in</h1>

    <form action="/session" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <input class="login-input-box" type="text" name="user[username]" placeholder="Username" id="login-username">

      <br />

      <input class="login-input-box" type="password" name="user[password]" placeholder="Password" id="login-password">

      <br />

      <%= render partial: 'layouts/errors/errors' %>

      <div class="login-and-admin-btn-container">
        <input class="login" type="submit" value="Log in">
        <button class="login" onclick="loginAdmin()">Admin Login</button>
      </div>
    </form>
    <section class="login-new-user-redirect-container">New to Survey?
      <a class="login-new-user-redirect" href="/users">Sign Up</a>
    </section>
  </div>
</div>