<div class='question-header-container'>
  <h1 class="question-header">
    <%= link_to t('rapidfire.questions.back'), surveys_path(@survey) %>
    <%= link_to t('rapidfire.questions.new'), new_survey_question_path(@survey) %>
  </h1>
  <hr/>

  <table>
    <colgroup>
      <col>
      <col width="250">
    </colgroup>
    <thead>
      <tr>
        <th style="border-right: 1px solid black;"><%= t('rapidfire.questions.question') -%></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "question", collection: @questions %>
    </tbody>
  </table>
</div>