<div class="signup-page-container">
  <div class="signup-container">
    <h1 class="signup-h1">Sign Up</h1>

    <form action="/users" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <input class="signup-input-box" type="text" name="user[username]" placeholder="Username">

      <br />

      <input class="signup-input-box" type="password" name="user[password]" placeholder="Password">

      <br />

      <%= render partial: 'layouts/errors/errors' %>

      <div class="signup-btn-container">
        <input class="signup" type="submit" value="Create Account">
      </div>
    </form>
    <section class="signup-new-user-redirect-container">Already Have an Account?
      <a class="signup-new-user-redirect" href="/session">Log In</a>
    </section>
  </div>
</div>