<div class="result-container">
  <h1 class="result-header">Results</h1>

  <div class="result-table-container">
    <%- @survey_results.each do |result| %>
      <div class="result-label-container">
        <div class="result-label"><%= result.question.question_text %></div>
        <p>
          <%- if result.results.is_a?(Array) %>
            <ol class="result-text">
              <%- result.results.each do |answer| %>
                <li><%= answer %></li>
              <% end %>
            </ol>
          <% elsif result.results.is_a?(Hash) %>
            <table class="result-table">
              <thead>
                <tr>
                  <th class="result-head-one">Choices</th>
                  <th class="result-head-two">Count</th>
                </tr>
              </thead>
              <tbody>
                <%- result.results.each do |option, count| %>
                  <tr>
                    <td class="result-options"><%= option %></td>
                    <td class="result-count"><%= count %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
      </div>
    <% end %>
  </div>
</div>