.create-edit-survey-container {
  width: 100vw;
  height: calc(100vh - 76px);
  background: image-url("tomasz-frankowski-198764-unsplash.jpg") no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.create-survey-header {
  color: whitesmoke;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  padding: 60px 0 30px 0;
}

.new_survey {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 40vh;
  margin: 0 35%;
  padding: 30px 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

.survey-form-group {
  display: flex;
  justify-content: center;
  text-align: left;
  width: 100%;
}

.survey-form-group > input {
  width: calc(100% - 100px);
  height: 35px;
  padding: 5px;
  font-size: 25px;
  border: 1px solid black;
  border-radius: 3px;
  background: whitesmoke;
}

.survey-form-group > textarea {
  width: calc(100% - 100px);
  height: 150px;
  padding: 5px;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 3px;
  background: whitesmoke;
}

//submit button
.new_survey > input {
  border: 1px solid black;
  border-radius: 10px;
  background: linear-gradient(#ad5a61,red);;
  padding: 15px 20px;
  text-align: center;
  width: 140px;
  color: white;
  font-size: 16px;
  font-weight: 700;
}