.create-survey-header {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin: 20px 0;
}

.new_survey {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 35%;
  height: 50vh;
  text-align: center;
  padding: 10px;
}

.form-group {
  display: flex;
  text-align: left;
  width: 100%;
  border: 1px solid black;
}

.form-group > label {
  width: 100px;
}

.form-group > input {
  width: calc(100% - 100px);
  height: 35px;
  padding: 5px;
  font-size: 25px;
  border: 1px solid black;
}

.form-group > textarea {
  width: calc(100% - 100px);
  height: 150px;
  padding: 5px;
  font-size: 25px;
  border: 1px solid black;
}

//submit button
.new_survey > input {
  border: 1px solid black;
  border-radius: 10px;
  background: linear-gradient(#ad5a61,red);;
  padding: 15px 20px;
  text-align: center;
  width: 140px;
  color: white;
  font-size: 16px;
  font-weight: 700;
}