.question-header-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 76px);
  background: url("ian-schneider-108618-unsplash.jpg") no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.question-header {
  display: flex;
  flex-direction: row;
}

.question-header > a {
  display: flex;
  align-items: center;
  color: lightskyblue;
  padding: 30px 0 10px 0;
}

.question-header > a:nth-child(1) {
  font-size: 22px;
}

.question-header > a:nth-child(2) {
  margin-left: calc(44% - 140px);
  font-size: 40px;
}